@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';


.fi-sidebar {
    background-color: #ffffff;
}


.fi-sidebar-item-button {
    color: #cbd5e1;
}


.fi-sidebar-item-button:hover {
    background-color: #4b80d5;
}


.fi-main {
    background-color: #f8fafc;
}


.fi-wi-stats-overview-stat {
    border-radius: 16px;
}


.fi-section {
    border-radius: 16px;
}
